.about {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 165px 103px 235px;

    @include vp-1199 {
      flex-direction: column;
      align-items: center;
      padding: 100px 45px 180px;
    }

    @include vp-767 {
      padding: 65px 0 260px;
    }
  }

  &__wrapper-text {
    width: 415px;
    padding-left: 60px;

    @include vp-1199 {
      width: 502px;
      text-align: center;
      padding: 0 15px;
    }

    @include vp-767 {
      width: 290px;
      text-align: left;
      padding: 0;
    }

    & h3 {
      font-family: $ff-alumni;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.44px;
      padding-bottom: 8px;
      margin: 0;

      @include vp-1199 {
        font-size: 42px;
        letter-spacing: 1.26px;
        padding-bottom: 2px;
      }

      @include vp-767 {
        font-size: 32px;
        letter-spacing: 0.96px;
        padding-bottom: 7px;
      }
    }

    & h4 {
      font-size: 18px;
      line-height: 150%;
      margin: 0;
      padding-bottom: 40px;

      @include vp-1199 {
        padding-bottom: 35px;
      }

      @include vp-767 {
        padding-bottom: 25px;
      }
    }

    & p {
      font-family: $ff-roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 150%;
      margin: 0;
      padding-bottom: 8px;

      @include vp-1199 {
        padding-bottom: 0;
      }
    }
  }

  &__image img {
    width: 660px;
    height: 401px;
    margin-top: -43px;
    margin-left: 85px;
    object-fit: cover;

    @include vp-1199 {
      width: 678px;
      height: 345px;
      margin-top: 20px;
      margin-left: 0;
    }

    @include vp-767 {
      width: 100vh;
      height: 100vh;
      margin-top: 30px;
    }
  }
}

.about__video-container {
  position: absolute;
  top: 415px;
  right: 33%;
  width: 364px;
  height: 228px;
  background-repeat: no-repeat;
  background-image: url("/img/image/poster-video.png");

  @include vp-1199 {
    top: 586px;
    left: 251px;
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    top: 688px;
    left: 0;
    width: 100%;
  }
}

.about__video-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 364px;
  height: 228px;
  background: rgba(20, 54, 122, 0.5);

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.about__button-video {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: 25%;
  left: 31%;
  background-color: $color-transparent;
  border: none;
}

.about__container-text {
  @include vp-1199 {
    display: none;
  }
}
