.about {
  &__container {
    display: flex;
    padding: 165px 103px 120px;

    @include vp-1199 {
      flex-direction: column;
      align-items: center;
      padding: 100px 45px;
    }

    @include vp-767 {
      padding: 70px 0;
    }
  }

  &__wrapper-text {
    width: 415px;
    padding-left: 60px;

    @include vp-1199 {
      width: 502px;
      padding-left: 0;
      text-align: center;
      padding: 0 15px;
    }

    @include vp-767 {
      width: 290px;
      text-align: left;
    }

    & h3 {
      font-family: $ff-alumni;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.44px;
      padding-bottom: 8px;
      margin: 0;

      @include vp-1199 {
        font-size: 42px;
        letter-spacing: 1.26px;
        padding-bottom: 2px;
      }

      @include vp-767 {
        font-size: 32px;
        letter-spacing: 0.96px;
        padding-bottom: 20px;
      }
    }

    & h4 {
      font-size: 18px;
      line-height: 150%;
      margin: 0;
      padding-bottom: 40px;

      @include vp-1199 {
        padding-bottom: 35px;
      }

      @include vp-767 {
        padding-bottom: 40px;
      }
    }

    & p {
      font-family: $ff-roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 150%;
      margin: 0;
      padding-bottom: 8px;

      @include vp-1199 {
        padding-bottom: 0;
      }
    }
  }

  &__image img {
    width: 660px;
    height: 401px;
    margin-top: -43px;
    margin-left: 85px;
    object-fit: cover;

    @include vp-1199 {
      width: 678px;
      height: 345px;
      margin-top: 42px;
      margin-left: 0;
    }

    @include vp-767 {
      width: 100vh;
      height: 100vh;
    }
  }
}

.about__video {
  position: relative;
}

.about__video iframe {
  position: absolute;
  top: 245px;
  right: 359px;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    top: -84px;
    left: -134px;
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.about__container-text {
  @include vp-1199 {
    display: none;
  }
}
