.accordion {
  width: auto;

  &__element {
    position: relative;
    padding: 32px 0 15px;
    border-top: 1px solid rgba(28, 51, 116, 0.2);

    & h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
      margin: 0;
      padding-bottom: 15px;
      width: 90%;

      @media screen and (max-width: 767px) {
        font-size: 18px;
        width: 70%;
      }
    }
  }

  &__element:last-child {
    border-bottom: 1px solid rgba(28, 51, 116, 0.2);
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__button-inner {
    position: relative;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #102654;
    cursor: pointer;
  }

  &__button-inner::before,
  &__button-inner::after {
    content: '';
    display: block;
    width: 1px;
    height: 18px;
    background: #102654;
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(16%,-3%);
  }

  &__button-inner::after {
    transform: rotate(90deg);
  }

  &__button-inner:hover {
    background-color: #102654;
  }

  &__button-inner:hover::before,
  &__button-inner:hover::after {
    background: #ffffff;
  }

  &__button-inner:active {
    background-color: #102654;
  }

  &__button-inner:active::before,
  &__button-inner:active::after {
    background: #ffffff;
    transform: rotate(-90deg);
  }

  &__element.is-active &__button-inner {
    background-color: #102654;
  }

  &__element.is-active &__button-inner::before,
  &__element.is-active &__button-inner::after {
    background: #ffffff;
    transform: rotate(-90deg);
  }

  &__content {
    & p {
      font-size: 18px;
      font-weight: 300;
      line-height: 140%;
      margin: 0;
      width: 90%;

      @media screen and (max-width: 767) {
        font-size: 16px;
      }
    }
  }
}
