.header {
  position: relative;
  z-index: 10;

  &__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    @include vp-1199 {
      padding-top: 40px;
    }

    @include vp-767 {
      padding-top: 15px;
    }
  }

  &__logo svg {
    @include vp-1199 {
      width: 82px;
      height: 17px;
    }

    @include vp-1199 {
      width: 69px;
      height: 24px;
    }
  }

  &__phone {
    color: $color-default-white;
    font-family: $ff-alumni;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.78px;

    @include vp-1199 {
      font-size: 24px;
      letter-spacing: 0.48px;
    }

    @include vp-767 {
      font-size: 20px;
      letter-spacing: 0.4px;
    }
  }
}
